<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <style>
         body{
             font-family: Helvetica, Calibri, sans-serif;
             font-size: 14pt;
             padding: 16px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f1f1f1;
        }
    </style>
</head>
    <body>
    <h1>Grades</h1>

    <table>
      <tr>
          <th>Student</th>
          <th>Grade</th>
      </tr>
      <tr>
          <td>Ivanov Ivan</td>
          <td>4</td>
      </tr>
        <tr>
            <td>Pupkina Maria</td>
            <td>5</td>

      </tr>
    </table>
</body>
</html>